In [14]:
import pandas as pd
df = pd.read_csv('spam.csv')
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [15]:
df.describe()

       Category                 Message
count      5572                    5572
unique        2                    5157
top         ham  Sorry, I'll call later
freq       4825                      30

In [16]:
msg = df.Message
msg_split = msg.str.split(expand=True)
msg_split.head()

    0       1       2       3        4    ...   166   167   168   169   170
0    Go   until  jurong  point,  crazy..  ...  None  None  None  None  None
1    Ok  lar...  Joking     wif        u  ...  None  None  None  None  None
2  Free   entry      in       2        a  ...  None  None  None  None  None
3     U     dun     say      so    early  ...  None  None  None  None  None
4   Nah       I   don't   think       he  ...  None  None  None  None  None

[5 rows x 171 columns]

In [17]:
msg_stack = msg_split.stack()
msg_stack.head()

0  0         Go
   1      until
   2     jurong
   3     point,
   4    crazy..
dtype: object

In [18]:
n_most_frequent_words = 100

msg_word_frequency = msg_stack.value_counts()
msg_word_frequency.head(n_most_frequent_words)

to       2142
you      1626
I        1469
a        1337
the      1204
and       858
in        798
is        787
i         748
u         696
for       650
my        630
of        592
me        561
your      561
on        488
have      474
2         457
that      422
are       397
it        397
call      374
or        373
be        363
at        360
with      351
not       344
will      333
get       326
can       304
         ...
n         140
I'll      138
How       137
still     135
as        134
If        133
one       133
But       131
its       129
he        127
No        126
text      126
our       126
no        124
been      121
Just      119
We        119
there     118
So        117
good      114
some      114
has       114
love      114
see       114
think     113
r         113
Do        113
don't     113
how       112
&         111
Length: 100, dtype: int64